@media screen and(max-width=break)
{ property: value;}

 img {
  width: 200px;
  height: 200px;
  object-fit: cover;

}






body {
  background-color: white;
}

.center {
  text-align: center;
}
img {
  border-radius: 50%;
}

body {
  color: black;
}
body {background-color: #E4FDFA;}
